doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(type="text/javascript" src="https://www.gstatic.com/charts/loader.js")
    script(type='text/javascript').
      google.charts.load('current', {packages: ['corechart']});
  body
    #fb-root
    block content
